<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Anasayfa</h1>
    <% blogs.forEach(element => { %>
    <h2><%= element.title %></h2>
    <p><%= element.description %></p>
    <img src="<%= element.image_url %>" alt="" />
    <% }); %>
  </body>
</html>
