<div class="list-group">
    <a href="" class="list-group-item list-group-item-action"> Tüm Kategoriler  </a>
    <% categories.forEach(function(category) { %>
        <a href="" class="list-group-item list-group-item-action"> <%= category %>  </a>
    <% }) %> 
</div>